@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --common: #bbb;
    --uncommon: #14cc73;
    --rare: #54c3ff;
    --epic: #de0ebd;
    --legendary: #ffc430;
    --common-2: #bbb;
    --uncommon-2: #37d488;
    --rare-2: #6eccff;
    --epic-2: #dc38c3;
    --legendary-2: #f1c555;
    --common-3: #bbb;
    --uncommon-3: #5bdb9d;
    --rare-3: #87d5ff;
    --epic-3: #e856d1;
    --legendary-3: #ffd66e;
    --primary-1: #0f1720;
    --primary-2: #0f1b2d;
    --primary-3: #10243e;
    --primary-4: #102a4c;
    --primary-4a2: rgba(13, 41, 78, .9);
    --primary-5: #0f3058;
    --primary-5a2: rgba(14, 45, 84, .9);
    --primary-6: #0d3868;
    --primary-7: #0a4481;
    --primary-8: #0954a5;
    --primary-9: #0091ff;
    --primary-10: #369eff;
    --primary-11: #52a9ff;
    --primary-12: #eaf6ff;
    --primary-1a: transparent;
    --primary-2a: rgba(15, 90, 252, .059);
    --primary-3a: rgba(22, 119, 254, .135);
    --primary-3a2: rgba(22, 119, 254, .07);
    --primary-3a3: rgba(22, 119, 254, .09);
    --primary-4a: rgba(20, 118, 254, .198);
    --primary-5a: rgba(15, 123, 254, .252);
    --primary-6a: rgba(9, 124, 255, .323);
    --primary-7a: rgba(4, 125, 255, .435);
    --primary-8a: rgba(5, 126, 255, .597);
    --primary-9a: rgba(0, 149, 255, .98);
    --primary-10a: rgba(55, 161, 255, .98);
    --primary-11a: rgba(83, 172, 255, .98);
    --primary-12a: rgba(239, 251, 255, .98);
    --secondary-1: #17151f;
    --secondary-2: #1c172b;
    --secondary-3: #251e40;
    --secondary-4: #2c2250;
    --secondary-5: #32275f;
    --secondary-6: #392c72;
    --secondary-7: #443592;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
